<main class="main">
  <section class="section newsletter">
    <div class="newsletter__container container">
        <h2 class="section__title">To-do List</h2>
        <p class="newsletter__description">Get things done , One item at a time.</p>

        <form #userForm="ngForm" class="newsletter__form">
            <input type="text" placeholder="Add a new to-do" class="newsletter__input" required="true" name="name" [(ngModel)]="todoitem"
            #todo="ngModel" [class.is-valid]="todo.valid && todo.dirty"
            [class.is-invalid]="todo.invalid && todo.dirty">
            <button (click)="addtodo()" type="submit" [disabled]="userForm.invalid" class="button">Add</button>
        </form>

        <div *ngIf="todo.errors">
          <span *ngIf="todo?.errors?.['required'] && todo.dirty" class="text-danger">This field is required</span>
        </div>

        <div class="list" *ngFor="let id=index; let todo of userArray" >
          <ul class="numandtodo">
            <li><h3>{{id + 1}}.</h3></li>
            <li class="todo"><h3>{{todo.todoitem}}</h3></li>
          </ul>
          <ul class="deleteditlist">
            <li><button type="submit" class="delbtn">Delete</button></li>
            <li><button type="submit" class="editbtn">Edit</button></li>
          </ul>
        </div>
    </div>

  </section>
</main>
